/* ------GENERAL-------- */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #c2ded1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23cdc2ae' fill-opacity='0.91'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

label {
  display: block;
  margin-bottom: 5px;
}

.page {
  margin-top: 3%;
}

/* -----HEADER-------- */
header {
  background-color: #112b3c;
  width: 100%;
  color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 15px 0;
  font-size: 2.5rem;
  cursor: pointer;
}

.profile {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  border: 4px solid #c2ded1;
  padding: 4px 13px;
  font-size: 2rem;
  background-color: #112b3c;
  color: #c2ded1;
  opacity: 0.8;
}
/* AUTH FORMS */
.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  width: 100%;
  position: relative;
}

.auth-error {
  padding: 25px;
  background-color: tomato;
}
.error-container {
  position: absolute;
  width: 250px;
  right: 10%;
  bottom: 17.3%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.auth-form {
  width: 450px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: left;
  background-color: #083852;
  border-radius: 15px;
  color: #fff;
}
.auth-nav {
  background-color: #112b3c;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 15px;
  margin-top: 10%;
}
.auth-nav_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.auth-nav_btn {
  padding: 5px 11px;
  font-weight: bold;
}
.form-nav {
  font-style: italic;
  color: #c2ded1;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.form-nav:hover {
  color: #89ccad;
}
.input-container {
  width: 100%;
}
.checkbox-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.checkbox-container label {
  margin: 0;
}
.auth-form input,
.auth-form select {
  width: 100%;
  padding: 6px;
  outline: none;
}
.checkbox-container input {
  width: 30px;
  cursor: pointer;
}
.form-btn {
  padding: 6px 17px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #c2ded1;
  background-color: #c2ded1;
  transition: all 0.3s ease-in-out;
}
.form-btn:hover {
  background-color: #083852;
  color: #c2ded1;
}

/* MAIN CARD */
.card {
  /* height: 600px;
  width: 480px; */
  display: flex;
  flex-direction: column;
  background-color: #083852;
  border-radius: 12px;
  color: #fff;
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.card_name {
  text-align: left;
  padding-left: 15px;
  margin: 10px 0;
}
.card_photo {
  width: 350px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.card_carousel {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-position: center center;
  background-size: cover;
}

.carousel-btn {
  font-size: 45px;
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  color: #fff;
}

.carousel-image {
  height: 100%;
}

.card_buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.card_btn {
  font-size: 35px;
  background-color: transparent;
  border: none;
}
.card_btn.dislike {
  color: tomato;
}
.card_btn.like {
  color: lawngreen;
}

.selected-btn {
  border-color: red;
}
