/* ------GENERAL-------- */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #c2ded1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23cdc2ae' fill-opacity='0.91'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

label {
  display: block;
  margin-bottom: 5px;
}

.page {
  margin-top: 3%;
}

/* -----HEADER-------- */
header {
  background-color: #112b3c;
  width: 100%;
  color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 15px 0;
  font-size: 2.5rem;
  cursor: pointer;
}

.profile {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  border: 4px solid #c2ded1;
  padding: 4px 13px;
  font-size: 2rem;
  background-color: #112b3c;
  color: #c2ded1;
  opacity: 0.8;
  width: 55px;
  height: 55px;
}
/* AUTH FORMS */
.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  position: relative;
}

.auth-error {
  padding: 25px;
  background-color: tomato;
}
.error-container {
  position: absolute;
  width: 250px;
  right: 10%;
  bottom: 17.3%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.auth-form {
  width: 450px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: left;
  background-color: #083852;
  border-radius: 15px;
  color: #fff;
}
.auth-nav {
  background-color: #112b3c;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 15px;
  margin-top: 10%;
}
.auth-nav_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.auth-nav_btn {
  padding: 5px 11px;
  font-weight: bold;
}
.form-nav {
  font-style: italic;
  color: #c2ded1;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.form-nav:hover {
  color: #89ccad;
}
.input-container {
  width: 100%;
}
.checkbox-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.checkbox-container label {
  margin: 0;
}
.auth-form input,
.auth-form select {
  width: 100%;
  padding: 6px;
  outline: none;
}
.checkbox-container input {
  width: 30px;
  cursor: pointer;
}
.form-btn {
  padding: 6px 17px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #c2ded1;
  background-color: #c2ded1;
  transition: all 0.3s ease-in-out;
}
.form-btn:hover {
  background-color: #083852;
  color: #c2ded1;
}

/* MAIN CARD */
.card_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.filter-container {
  width: 350px;
}
.card,
.cards-fail-message {
  /* height: 600px;
  width: 480px; */
  display: flex;
  flex-direction: column;
  background-color: #083852;
  border-radius: 12px;
  color: #fff;
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.cards-fail-message {
  padding: 50px 30px;
}
.card_name {
  text-align: left;
  padding-left: 15px;
  margin: 10px 0;
}
.card_info {
  width: 350px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.card_carousel {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-position: center center;
  background-size: cover;
}

.carousel-btn {
  font-size: 45px;
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  color: #fff;
}

.carousel-image {
  height: 100%;
}

.card_buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.card_btn {
  font-size: 35px;
  background-color: transparent;
  border: none;
}
.card_btn.dislike {
  color: tomato;
}
.card_btn.like {
  color: lawngreen;
}

.selected-btn {
  border-color: red;
}

/* ------PROFILE-------- */
.profile_container {
  width: 100%;
  margin: 3% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_profile {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  /* width: 90%; */
}
.profile_form {
  width: 400px;
  background-color: #083852;
  display: flex;
  flex-direction: column;
  padding: 35px 15px;
  gap: 15px;
  color: #fff;
}
.profile_form input {
  width: 100%;
  padding: 6px;
}
.preview-container {
  display: flex;
  width: 360px;
  height: 400px;
}
.preview-image {
  width: 400px;
  background-position: center center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-size: cover;
  display: grid;
}
.set-images {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.start-btn {
}
.control-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.control-buttons button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: #fff;
}
.delete-photo-btn {
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: tomato;
}
.profile_form-btn {
  background-color: #89ccad;
  border: 2px solid #89ccad;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #083852;
}
.user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #489b74;
  padding-bottom: 10px;
  border-radius: 12px;
  background-color: #89ccad;
}

/* -----LIKES PAGE------ */
.likes-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.likes-toolbar {
  display: flex;
  width: 100%;
  margin: 3% 0;
}
.likes-info {
  width: 50%;
  border-bottom: 2px solid #112b3c;
  padding: 7px 0;
  text-align: center;
  cursor: pointer;
}
.likes-matches {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.like-page_selected {
  color: #083852;
  background-color: #89ccad;
}
.card_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card_carousel.small {
  width: 250px;
  height: 400px;
  flex-direction: column;

  background-position: center;
  background-size: cover;
}
.card_carousel.small .card_info {
  height: 100%;
  color: #ffffff;
  font-size: 1rem;
  width: 100%;
}

/* ------FILTER------- */

.filter-form {
  padding: 25px 40px;
  border: 2px solid #083852;
  background-color: #083852;
  color: #083852;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-form .input-container {
  border: 1px solid #112b3c;
  padding: 10px 20px;
}
.filter-form select {
  width: 100%;
}
.select-gender {
  padding: 8px 0;
  display: flex;
  gap: 2px;
}

.select-gender-btn {
  width: 50%;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 0;
}

/* ----CHAT PAGE----- */
.chat-container {
  width: 360px;
  border: 2px solid #112b3c;
}

.chat-output {
  background-color: #fff;
  height: 400px;
  margin-bottom: 10px;
}

.chat-form textarea {
  font-family: inherit;
  width: 100%;
}
